name: publish
on: 
  push:
  pull_request:  
  schedule:
    - cron: "0 7 * * 2"
jobs:
  build-superchic-docker-image:
    runs-on: ubuntu-latest
    name: Build superchic Docker image
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          fetch-depth: 2 
    - name: Check if the Docker file was changed
      id: changed-docker-files
      uses: tj-actions/changed-files@v38
      with:
          files: Dockerfile

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the superchic Docker image on the change of Dockerfile
      if: steps.changed-docker-files.outputs.any_changed == 'true' 
      run: |
         docker build . --tag ghcr.io/andriish/superchic:latest
         docker run ghcr.io/andriish/superchic:latest
         docker push ghcr.io/andriish/superchic
    - name: Build the superchic Docker image on schedule
      if: ${{ github.event_name == 'schedule' }}
      run: |
         docker build . --tag ghcr.io/andriish/superchic:latest
         docker run ghcr.io/andriish/superchic:latest
         docker push ghcr.io/andriish/superchic

  run-in-superchic-docker-image-gmake:
    name: Run in superchic Docker image  with gmake
    runs-on: ubuntu-latest
    needs: build-superchic-docker-image
    container:
            image: ghcr.io/andriish/superchic:latest
            credentials:
               username: ${{ github.actor }}
               password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          fetch-depth: 3 
    - name: Run
      run : |
         export SUPERCHIC_DATA_PATH=$(pwd)/data
         mkdir -p obj lib
         gmake
         gmake init
         ls -lah 
         ls -lah bin
         mkdir RUN
         cd RUN
         mkdir -p inputs evrecs outputs
         cp -r ../bin/init ./
         ../bin/init < ../test/input.DAT_1
         ../bin/superchic < ../test/input.DAT_1
         find ./
         cat evrecs/evrectest1.dat
         ../bin/superchic < ../test/input.DAT_3
         find ./
         cat evrecs/evrectest3.dat
         ../bin/superchic < ../test/input.DAT_9
         find ./
         cat evrecs/evrectest9.dat
  run-in-superchic-docker-image-cmake:
    name: Run in superchic Docker image with cmake
    runs-on: ubuntu-latest
    needs: build-superchic-docker-image
    container:
            image: ghcr.io/andriish/superchic:latest
            credentials:
               username: ${{ github.actor }}
               password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          fetch-depth: 3 
    - name: Run
      run : |
         cmake -S . -B BUILD -DCMAKE_INSTALL_PREFIX=$(pwd)/INSTALL -DCMAKE_Fortran_FLAGS=-O2 -DSUPERCHIC_ENABLE_TESTS=ON
         cmake --build BUILD -j 2
         cmake --install BUILD 
         ls -lah 
         ls -lah bin
         ls -lah BUILD
         find INSTALL
         ctest --test-dir BUILD -j 3 --output-on-failure

  run-on-Darwin-cmake:
    runs-on: macos-latest
    name: run on Darwin
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
          fetch-depth: 3 
    - name: Run
      run : |
         brew install wget coreutils gcc
         brew tap davidchall/hep
         brew install hepmc3 pythia8 lhapdf git gsed
         git clone https://github.com/scarrazza/apfel.git  && cd  apfel && FC=gfortran-13 ./configure  --disable-pywrap  && make && make install && cd  ../ && rm -rf apfel
         mkdir -p obj lib
         gsed -i 's/gfortran/gfortran-13/g' makefile
         gsed 's/^APFELLIB[^ ]*/APFELLIB=\`apfel-config --libdir\`/' makefile
         cat makefile
         make -j 2
         cmake -S . -B BUILD -DCMAKE_INSTALL_PREFIX=$(pwd)/INSTALL -DCMAKE_Fortran_FLAGS=-O2 -DSUPERCHIC_ENABLE_TESTS=OFF -DCMAKE_Fortran_COMPILER=gfortran-13
         cmake --build BUILD -j 2 --verbose
         cmake --install BUILD 
         ls -lah 
         ls -lah bin
         ls -lah BUILD
         find INSTALL
#         ctest --test-dir BUILD -j 3 --output-on-failure

